# Python模板
__pycache__/
*.py[cod]
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyCharm
.idea/
*.iml
*.ipr
*.iws

# 虚拟环境
venv/
env/
ENV/
env.bak/
venv.bak/

# 环境变量
.env
.env.local

# 日志
*.log